<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{.Title}}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  </head>
  <body>
    <!-- nav -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">{{.Title}}</a>
        <div class="container-md">
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" href="#">Amenities</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/about-us">About Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/contact-us">Contact</a>
              </li>
             
            </ul>
            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
        </div>
      </div>
    </nav>

    <!-- does bootstrap have spacers? -->
    <br><br>
    
    <!-- order dropdown -->
    <div class="d-flex justify-content-center">
      <div class="dropdown centered-div">

        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
          Order Gutter Material
        </button>
        <div class="dropdown-menu dropdown-menu-lg" aria-labelledby="dropdownMenuButton">
          <form id="order" class="px-4 py-3">

            <!-- contact infromation -->
            <div class="mb-3">
              <label for="name" class="form-label">Name:</label>
              <input type="text" class="form-control" id="name" aria-describedby="usernameHelp">
            </div>
            <!-- phone number -->
            <div class="mb-3">
              <label for="phone" class="form-label">Phone Number:</label>
              <input type= "text" class="form-control" id="phone"> <!-- does bootstrap have a custom phone input type??? -->
            </div>
            <!-- email -->
            <div class="mb-3">
              <label for="email" class="form-label">Email address:</label>
              <input type= "email" class="form-control" id="email" aria-describedby="emailHelp">
              <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            
            <!-- delivery address -->
            <div class="mb-3">
              <label for="streetAddress1" class="form-label">Street 1:</label>
              <input type="text" class="form-control" id="streetAddress">
            </div>
            
            <div class="mb-3">
              <label for="streetAddress2" class="form-label">Street 2:</label>
              <input type="text" class="form-control" id="streetAddress2">
            </div>
            
            <div class="mb-3">
              <label for="city" class="form-label">City: </label>
              <input type="text" class="form-control" id="city">
            </div>
            
            <div class="mb-3">
              <label for="state" class="form-label">State:</label>
              <input type="text" class="form-control" id="state">
            </div>
            
            <div class="mb-3">
              <label for="zip" class="form-label">Zip Code:</label>
              <input type="text" class="form-control" id="zip">

            <!-- order selections -->
            <select>
              {{range .CoilSelection}}
                <option value="{{.ID}}">{{.DisplayInformation}}<b>  $ {{.Selling}}</b></option>
              {{end}}
            </select>

            </div>
            <button type="submit" class="btn btn-primary">Submit Order</button>
          </form>
        </div>
      </div>
    </div>
    <br>  


    


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
  </body>
</html>